.body__button {
    margin: 180px 0 0 650px;
    max-width: 120px;
    border-radius: 25px;
    background-color: #637bae6e;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
}

@media(max-width: 780px) {
    .body__button {
        margin: 100px 0 0 0;
    }
}

@media(max-width: 480px) {
    .body__button {
        margin: 100px 0 0 0;
    }
}

.body__button:hover {
    background-color: #637bae;
    transform: scale(1.1);
}