.button {
    display: block;
    position: absolute;
    max-width: 120px;
    border: 2px solid #000000;
    border-radius: 25px;
    background-color: rgba(46, 105, 232, 0.2);
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
    margin: 45px 0 0 35%;
}

@media(max-width: 980px) {
    .button {
        position: absolute;
        margin: 8% 0 0 20%;
    }
}

@media(max-width: 480px) {
    .button {
        position: absolute;
        margin: 15% 0 0 5%;
    }
}

.button:hover {
    background-color: #637bae;
    transform: scale(1.1);
}