.button {
    display: block;
    position: absolute;
    max-width: 120px;
    border: 2px solid #000000;
    border-radius: 25px;
    background-color: rgba(46, 105, 232, 0.2);
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
    top: 46px;
    left: 35%;
}

@media(max-width: 780px) {
    .button {
        position: relative;
        left: 10%;
        top: 10px;
    }
}

.button:hover {
    background-color: #637bae;
    transform: scale(1.1);
}